# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Build outputs
bskyweb/bskyweb.exe
bskyweb/bskyweb.exe~
bskyweb/bskyweb
build/

# Testing
junit.xml
coverage/

# Native
.kotlin/
ios/Pods/
android/.gradle/
android/app/build/
android/build/

# Env / secrets
.env
.env.local
.env.*.local

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
